.wrapper {
    height: 5vh;
    max-height: 5vh;
    min-height: min-content;
}

a {
    color: white;
}

// a:hover {
//     text-decoration: underline !important;
// }

// li:hover {
//     border: 3px solid white;
//     height: 5vh;
//     max-height: 5vh;
//     min-height: min-content;
// }
