<div class="wrapper d-flex flex-row justify-content-start flex-wrap">
  <div class="product-card shadow bg-white d-flex flex-column rounded-container"
    *ngIf="isActive()">
    <div class="product-card-header p-1">
      <div class="buttons-wrapper ">
        <fa-icon *ngIf="!liked" class="fa-heart fa-heart-regular fa-2x" [icon]="faHeart" (click)="onLike()"></fa-icon>
        <fa-icon *ngIf="liked" class="fa-heart fa-heart-solid fa-2x" [icon]="faHeartSolid" (click)="onDislike()"></fa-icon>
      </div>
    </div>
    <div class="product-card-body">
      <img [routerLink]="['/product', product?.uid]" class="product-image mx-auto d-block" [src]="
        product !== null && product.images != undefined && product.images.length > 0
          ? product.images[0]
          : '../../../../assets/no-thumbnail.jpg'
      " alt="Product Picture" />
    </div>
    <div class="product-card-footer">
      <div class="product-info mx-auto">
        <a class="product-link" [routerLink]="['/product', product?.uid]">{{productName}}</a>
        <div class="product-rating" *ngIf="currentRating != -1">
          <ngb-rating class="star" [(rate)]="currentRating" [readonly]="true" [max]="5"></ngb-rating>
          <span *ngIf="currentRating>0">({{product?.rating}})</span>
        </div>
        <p *ngIf="quantityString=='In Stock'" class="product-quantity text-success">{{quantityString}}</p>
        <p *ngIf="quantityString=='Out of Stock'" class="product-quantity text-danger">{{quantityString}}</p>
        <p *ngIf="quantityString!='Out of Stock' && quantityString!='In Stock'" class="product-quantity quantity-orange">{{quantityString}}</p>
        <div *ngIf="productPrice">
          <p class="product-price">{{productPrice[0]}}<sup>{{productPrice[1] || '00'}}</sup> BGN</p>
      </div>
      <div *ngIf="productPrice != undefined && productPrice[0]=='0' && productPrice[1]=='0'">
        <p class="product-price">Free</p>
      </div>
      <button class="btn btn-success add-to-cart-btn w-100">
        <div class="d-inline">
          <fa-icon [icon]="faCartPlus" class=""></fa-icon>
        </div>
        <span>
          Add to Cart
        </span>
      </button>
    </div>
  </div>
</div>
</div>
<!-- <ng-template #starTempalte>
  <span class="star"></span>
</ng-template> -->
