.image {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 2px solid black;
  object-fit: contain;
}
.profile-info {
  margin-left: 50px;
  // border-right: 2px solid blue;
}
.d-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
