<div *ngIf="
this.categories === undefined || this.categories.length == 0;
then noCategories;
else showCategories"></div>

<ng-template #noCategories>
  <h5>There are no categories!</h5>
</ng-template>
<ng-template #showCategories>
  <div class="wrapper d-flex flex-row justify-content-start flex-wrap">
    <div *ngFor="let category of this.categories">
      <a class="category-link" [routerLink]="[category.uid]">
        <div class="category-card shadow bg-white d-flex flex-column m-3 ">
          <div class="category-card-header "></div>
          <div class="category-card-body">
            <img class="category-image" [src]="
          category.picture !== null
            ? category.picture
            : '../../../assets/no-thumbnail.jpg'
        " alt="Category Picture" />
          </div>
          <div class="category-card-footer text-center">
            <p>{{category.name}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</ng-template>
