<header class="
    container-fluid
    d-flex
    align-items-center
    header
    sticky-top
  ">
  <div class="
    d-flex
    container
    position-relative
    justify-content-between
">
<a routerLink="/" class="text-decoration-none text-dark h2">
  <strong>Emporium</strong>
</a>
    <form class="col-6">
      <input type="search" class="form-control form-control-dark search-bar position-relative" placeholder="Search..."
        aria-label="Search" />
    </form>

    <div *ngIf="(isUserAdmin$ | async) == true">
        <ul class="nav">
          <li><a (click)="signOut()" routerLink="/login" class="nav-link text-dark text-decoration-none h5"><fa-icon [icon]="faUser"></fa-icon>Log out</a></li>
          <li><a routerLink="/admin" class="nav-link text-dark text-decoration-none h5"><fa-icon [icon]="faCogs"></fa-icon>Admin Panel</a></li>
        </ul>
    </div>
    <div *ngIf="(isSeller$ | async) == true">
      <ul class="nav">
        <li><a (click)="signOut()" routerLink="/login" class="nav-link text-dark text-decoration-none h5"><fa-icon [icon]="faUser"></fa-icon>Log out</a></li>
        <li><a routerLink="/seller/dashboard" class="nav-link text-dark text-decoration-none h5"><fa-icon [icon]="faCogs"></fa-icon>Seller Panel</a></li>
      </ul>
    </div>
    <div *ngIf="(isUser$ | async) == true || (isLogged$ | async) == false">
      <ul class="nav">
        <li><a routerLink="/user/profile" class="nav-link text-dark text-decoration-none h5"><fa-icon [icon]="faUser"></fa-icon>My Account</a></li>
        <li><a routerLink="/favourites" class="nav-link text-dark text-decoration-none h5"><fa-icon [icon]="faHeart"></fa-icon>Favourites</a></li>
        <li><a routerLink="/cart" class="nav-link text-dark text-decoration-none h5"><fa-icon [icon]="faShoppingCart"></fa-icon>Cart</a></li>
      </ul>
    </div> 
  </div>
</header>
