<header class="
    container-fluid
    d-flex
    header
    align-items-center
    sticky-top
  ">
  <div class="
    d-flex
    container
    position-relative
    justify-content-between
">
<a routerLink="/" class="text-decoration-none text-dark h2">
  <strong>Emporium</strong>
</a>
    <form class="col-6">
      <input type="search" class="form-control form-control-dark search-bar position-relative" placeholder="Search..."
        aria-label="Search" />
    </form>

    <div>
      <!-- <ul class="nav">
      <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
      <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
      <li><a href="#" class="nav-link px-2 text-white">About</a></li>
    </ul> -->

      <!-- <button type="button" class="btn btn-outline-light">Login</button> -->
      <!-- <button type="button" class="btn btn-warning">My Account</button>
        <button type="button" class="btn btn-warning">Favourites</button>
        <button type="button" class="btn btn-warning">Cart</button> -->
        <ul class="nav">
          <li><a routerLink="/user/profile" class="nav-link text-dark text-decoration-none h5"><fa-icon [icon]="faUser"></fa-icon>My Account</a></li>
          <li><a routerLink="/favourites" class="nav-link text-dark text-decoration-none h5"><fa-icon [icon]="faHeart"></fa-icon>Favourites</a></li>
          <li><a routerLink="/cart" class="nav-link text-dark text-decoration-none h5"><fa-icon [icon]="faShoppingCart"></fa-icon>Cart</a></li>
          <li *ngIf="isUserAdmin()"><a routerLink="/admin" class="nav-link text-dark text-decoration-none h5"><fa-icon [icon]="faCogs"></fa-icon></a></li>
        </ul>
    </div>
  </div>
</header>
