<div class="container d-flex">
  <app-admin-aside></app-admin-aside>
  <div class="container shadow bg-white align-items-center rounded-container">
    <h3 class="mt-2">Manage Products</h3>
    <div class="from-group mb-2 mt-3">
      <label for="sellers" class="form-label">Seller</label>
      <select class="form-select" aria-label="Subcategory Select" id="category" [(ngModel)]="selectedSeller"
        (ngModelChange)="onSellerChange()">
        <option value="" selected>Select Seller</option>
        <option *ngFor="let seller of sellers" [ngValue]="seller.uid">
          {{ seller.displayName }}
        </option>
      </select>
    </div>

    <div *ngIf="
        this.sellerProducts === undefined || this.sellerProducts.length == 0;
        then noProducts;
        else table
      "></div>

    <ng-template #noProducts>
      <h5 class="text-center m-5">There are no products for this seller!</h5>
    </ng-template>

    <ng-template #table>
      <table class="table table-hover">
        <thead class="text-center">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr *ngFor="let product of sellerProducts; let i = index">
            <td>{{ i + 1 }}</td>
            <td scope="row">{{ product.name }}</td>
            <td>
              <p *ngIf="product.status=='hidden'"  class="text-danger">{{product.status}}</p>
              <p *ngIf="product.status=='active'" class="text-success">{{product.status}}</p>
              <p *ngIf="product.status=='awaiting approval'" class="text-warning">{{product.status}}</p>
            </td>
            <td>
              <button *ngIf="product.status!='hidden' && product.status!='awaiting approval'" class="btn btn-danger" (click)="onHide(product)">Hide</button>
              <button *ngIf="product.status=='hidden' || product.status=='awaiting approval'" class="btn btn-success" (click)="onApprove(product)">Approve</button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>

  </div>
</div>
