/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

// #FBBE81; #E18A07; #0341fc
$main-theme-color: #DA181F;

body {
    background-color: #F2F2F7;
}

.rounded-container {
    border-radius: 15px;
}

// .header-line {
//   height: 10px !important;
//   color: $main-theme-color !important;
// }

footer, nav{
    background-color: $main-theme-color;
}

.active {
  background-color: $main-theme-color !important;
}

.category-image, .subcategory-image  {
  object-fit: contain;
  height: 250px;
  width: 250px;
  max-width: 30vw;
  // max-height: 100%;
}

.category-link, .subcategory-link {
  text-decoration: none;
  font-size: larger;
  color: black;
}


