/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

// #FBBE81; #E18A07; #0341fc
$main-theme-color: #DA181F;

body {
    background-color: #F2F2F7;
}

.rounded-container {
    border-radius: 15px;
}

footer, nav {
    background-color: $main-theme-color;
} 
// footer {
//     background-color: #FBBE81;
// }
