<div class="container">
  <div id="sidebar" class="d-flex flex-column sidebar shadow bg-white rounded-container py-2">
    <ul class="nav nav-pills flex-column">
      <li>
        <a routerLink="/seller/dashboard" class="nav-link" aria-current="page" [ngClass]="{
            'active': getCurrentRoute() == '/seller/dashboard'
        }">
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/seller/add-product" class="nav-link" [ngClass]="{
                  'active': getCurrentRoute() == '/seller/add-product'
              }">Create Product</a>
      </li>
      <li>
        <a routerLink="/seller/all-products" class="nav-link" aria-current="page" [ngClass]="{
            'active': getCurrentRoute() == '/seller/all-products'
        }">
          All Products
        </a>
      </li>
      <li>
        <a routerLink="/seller/pending-orders" class="nav-link" aria-current="page" [ngClass]="{
            'active': getCurrentRoute() == '/seller/pending-orders'
        }">
          Pending Orders
        </a>
      </li>
      <li>
        <a routerLink="/seller/archived-orders" class="nav-link" [ngClass]="{
            'active': getCurrentRoute() == '/seller/archived-orders'
        }">Archived Orders</a>
      </li>
    </ul>
  </div>
</div>
