footer {
    z-index: 999999;
    height: min-content + 2vh;
    max-height: min-content + 2vh;;
}
fa-icon {
    color: white;
    margin-left: 25px;
}
a:hover {
    text-decoration: underline !important;
}
