<footer class="fixed-bottom">
    <div class="container d-flex justify-content-between ">
        <ul class="list-unstyled">
            <li><a routerLink="/user/profile" class="nav-link text-white text-decoration-none h5">Contacts</a></li>
            <li><a routerLink="/user/profile" class="nav-link text-white text-decoration-none h5">About Us</a></li>
            <li><a routerLink="/user/profile" class="nav-link text-white text-decoration-none h5">FAQ</a></li>
        </ul>
        <ul class="list-unstyled">
            <li><a routerLink="/user/profile" class="nav-link text-white text-decoration-none h5">Become seller</a></li>
            <li><a routerLink="/user/profile" class="nav-link text-white text-decoration-none h5">Terms And Conditions</a></li>
            <li><a routerLink="/user/profile" class="nav-link text-white text-decoration-none h5">Privacy Policy</a></li>
        </ul>
        <ul class="list-unstyled d-flex align-items-center justify-content-lg-between">
            <li><a href="https://facebook.com"><fa-icon [icon]="faFacebook" class="fa-3x"></fa-icon></a></li>
            <li><a href="https://twitter.com" ><fa-icon [icon]="faTwitter" class="fa-3x"></fa-icon></a></li>
            <li><a href="https://instagram.com" ><fa-icon [icon]="faInstagram" class="fa-3x"></fa-icon></a></li>
            <li><a href="https://youtube.com" ><fa-icon [icon]="faYoutube" class="fa-3x"></fa-icon></a></li>
        </ul>
    </div>
</footer>

